In [1]:
import pandas as pd
import datetime

In [2]:
data = pd.read_csv("./data.csv")
data

,Unnamed: 0,Timestamp,Category,Description,Amount,Date,Tags
0,0,8/31/2022 18:29:15,Charity,Charity donation for health on pomozi.ba,10.00,9/1/2022,Charity
1,1,9/1/2022 12:44:12,Job Spendings,Launch on work,5.00,9/1/2022,"Me, Job, Bar"
2,2,9/1/2022 21:06:47,Rent,Paying my monthly rent,250.00,9/2/2022,NaN
3,3,9/1/2022 21:08:41,Utilites,"Monthly Utilities Internet 10, Energy 20, Wash 15",45.00,9/2/2022,NaN
4,4,9/2/2022 14:57:54,Groceries,Buying Groceries at Bingo Otoka,67.04,9/2/2022,Bingo
...,...,...,...,...,...,...,...
121,121,10/15/2022 18:29:27,Groceries,Bread,2.50,10/15/2022,NaN
122,122,10/15/2022 18:30:09,Other,Transport,1.40,10/15/2022,NaN
123,123,10/15/2022 18:47:19,Other,Tranu,1.40,10/15/2022,NaN
124,124,10/16/2022 7:07:03,Outgoings,Outgoing with Tarik Ademir and Merima,15.00,10/15/2022,NaN
125,125,10/17/2022 5:50:53,Outgoings,Going out with Anes,16.50,10/16/2022,NaN

In [3]:
# Group by category

weeks = []
processed = data

for date in data["Date"]:
    date = datetime.datetime.strptime(date, "%m/%d/%Y")

    weeks.append(date.isocalendar().week)
        
processed["Week"] = weeks

In [4]:
week = 41
data_by_category = processed[processed["Week"] == week].groupby("Category").sum()

/var/folders/h2/n6ghdpp53hj_s5yrpj6ptw4m0000gn/T/ipykernel_3467/3322327065.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_by_category = processed[processed["Week"] == week].groupby("Category").sum()

In [5]:
data_by_category

               Unnamed: 0  Amount  Week
Category
Groceries             579    11.5   205
Health                109    30.0    41
Job Spendings         561    22.6   205
Other                 472    10.4   164
Outgoings             483    39.6   164

In [7]:
data_by_category[["Amount"]]

               Amount
Category
Groceries        11.5
Health           30.0
Job Spendings    22.6
Other            10.4
Outgoings        39.6

In [8]:
data

,Unnamed: 0,Timestamp,Category,Description,Amount,Date,Tags,Week
0,0,8/31/2022 18:29:15,Charity,Charity donation for health on pomozi.ba,10.00,9/1/2022,Charity,35
1,1,9/1/2022 12:44:12,Job Spendings,Launch on work,5.00,9/1/2022,"Me, Job, Bar",35
2,2,9/1/2022 21:06:47,Rent,Paying my monthly rent,250.00,9/2/2022,NaN,35
3,3,9/1/2022 21:08:41,Utilites,"Monthly Utilities Internet 10, Energy 20, Wash 15",45.00,9/2/2022,NaN,35
4,4,9/2/2022 14:57:54,Groceries,Buying Groceries at Bingo Otoka,67.04,9/2/2022,Bingo,35
...,...,...,...,...,...,...,...,...
121,121,10/15/2022 18:29:27,Groceries,Bread,2.50,10/15/2022,NaN,41
122,122,10/15/2022 18:30:09,Other,Transport,1.40,10/15/2022,NaN,41
123,123,10/15/2022 18:47:19,Other,Tranu,1.40,10/15/2022,NaN,41
124,124,10/16/2022 7:07:03,Outgoings,Outgoing with Tarik Ademir and Merima,15.00,10/15/2022,NaN,41
125,125,10/17/2022 5:50:53,Outgoings,Going out with Anes,16.50,10/16/2022,NaN,41

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   126 non-null    int64
 1   Timestamp    126 non-null    object
 2   Category     126 non-null    object
 3   Description  126 non-null    object
 4   Amount       126 non-null    float64
 5   Date         126 non-null    datetime64[ns]
 6   Tags         41 non-null     object
 7   Week         126 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 8.0+ KB

In [10]:
data["Date"] =  pd.to_datetime(data["Date"], format="%m/%d/%Y")

In [27]:
month = 9
data[(data["Date"].dt.month == month)]

,Unnamed: 0,Timestamp,Category,Description,Amount,Date,Tags,Week
0,0,8/31/2022 18:29:15,Charity,Charity donation for health on pomozi.ba,10.00,2022-09-01,Charity,35
1,1,9/1/2022 12:44:12,Job Spendings,Launch on work,5.00,2022-09-01,"Me, Job, Bar",35
2,2,9/1/2022 21:06:47,Rent,Paying my monthly rent,250.00,2022-09-02,NaN,35
3,3,9/1/2022 21:08:41,Utilites,"Monthly Utilities Internet 10, Energy 20, Wash 15",45.00,2022-09-02,NaN,35
4,4,9/2/2022 14:57:54,Groceries,Buying Groceries at Bingo Otoka,67.04,2022-09-02,Bingo,35
...,...,...,...,...,...,...,...,...
66,66,9/29/2022 17:39:13,Job Spendings,Dinner at the job,8.00,2022-09-29,NaN,39
67,67,9/29/2022 17:39:34,Groceries,Bread,0.80,2022-09-29,NaN,39
68,68,10/1/2022 9:41:15,Outgoings,Dinner before the travel to Sanice,8.00,2022-09-30,NaN,39
69,69,10/1/2022 9:41:39,Other,Ticket for Sanica,50.00,2022-09-30,NaN,39
70,70,10/1/2022 9:42:06,Outgoings,Tea at Prestige,1.50,2022-09-30,NaN,39

In [12]:
processed[processed["Week"] == week]

,Unnamed: 0,Timestamp,Category,Description,Amount,Date,Tags,Week
107,107,10/10/2022 17:23:10,Job Spendings,Dinner,4.0,10/10/2022,NaN,41
108,108,10/10/2022 20:04:12,Other,Transport,2.8,10/10/2022,NaN,41
109,109,10/10/2022 20:04:34,Health,Dental Care,30.0,10/10/2022,NaN,41
110,110,10/11/2022 18:49:26,Job Spendings,Dinner,6.5,10/11/2022,NaN,41
111,111,10/11/2022 18:49:45,Groceries,Bread,0.7,10/11/2022,NaN,41
112,112,10/12/2022 20:43:03,Job Spendings,Dinner,4.1,10/12/2022,NaN,41
113,113,10/12/2022 20:43:22,Groceries,Bread,0.7,10/12/2022,NaN,41
114,114,10/12/2022 20:43:38,Outgoings,CocaCola,1.1,10/12/2022,NaN,41
115,115,10/14/2022 8:09:28,Job Spendings,Dinner,4.0,10/13/2022,NaN,41
116,116,10/14/2022 8:09:47,Groceries,Bread,1.0,10/13/2022,NaN,41
117,117,10/14/2022 18:16:10,Job Spendings,Dinner,4.0,10/14/2022,NaN,41
118,118,10/14/2022 18:17:34,Groceries,Bread and Groceries,6.6,10/14/2022,NaN,41
119,119,10/15/2022 18:28:20,Other,Transport,4.8,10/15/2022,NaN,41
120,120,10/15/2022 18:29:10,Outgoings,Going out with Edin,7.0,10/15/2022,NaN,41
121,121,10/15/2022 18:29:27,Groceries,Bread,2.5,10/15/2022,NaN,41
122,122,10/15/2022 18:30:09,Other,Transport,1.4,10/15/2022,NaN,41
123,123,10/15/2022 18:47:19,Other,Tranu,1.4,10/15/2022,NaN,41
124,124,10/16/2022 7:07:03,Outgoings,Outgoing with Tarik Ademir and Merima,15.0,10/15/2022,NaN,41
125,125,10/17/2022 5:50:53,Outgoings,Going out with Anes,16.5,10/16/2022,NaN,41

In [7]:
processed

Empty DataFrame
Columns: [Unnamed: 0, Timestamp, Category, Description, Amount, Date, Tags]
Index: []