In [78]:
import pandas as pd
import datetime
import math
import plotly.graph_objects as go

In [9]:
weekdays =  [
    "Monday", "Tuesday", "Wendestay", "Thursday", "Firday", "Saturday", "Sunday"
]

In [10]:
data = pd.read_csv("./data.csv")
data["Date"] = pd.to_datetime(data["Date"], format="%m/%d/%Y")

data

,Unnamed: 0,Timestamp,Category,Description,Amount,Date,Tags
0,0,8/31/2022 18:29:15,Charity,Charity donation for health on pomozi.ba,10.00,2022-09-01,Charity
1,1,9/1/2022 12:44:12,Job Spendings,Launch on work,5.00,2022-09-01,"Me, Job, Bar"
2,2,9/1/2022 21:06:47,Rent,Paying my monthly rent,250.00,2022-09-02,NaN
3,3,9/1/2022 21:08:41,Utilites,"Monthly Utilities Internet 10, Energy 20, Wash 15",45.00,2022-09-02,NaN
4,4,9/2/2022 14:57:54,Groceries,Buying Groceries at Bingo Otoka,67.04,2022-09-02,Bingo
...,...,...,...,...,...,...,...
121,121,10/15/2022 18:29:27,Groceries,Bread,2.50,2022-10-15,NaN
122,122,10/15/2022 18:30:09,Other,Transport,1.40,2022-10-15,NaN
123,123,10/15/2022 18:47:19,Other,Tranu,1.40,2022-10-15,NaN
124,124,10/16/2022 7:07:03,Outgoings,Outgoing with Tarik Ademir and Merima,15.00,2022-10-15,NaN
125,125,10/17/2022 5:50:53,Outgoings,Going out with Anes,16.50,2022-10-16,NaN

In [4]:
# Spendings by week in each month of the year

"""
            jan     feb     mar
    week 1  
    week 2 
    week 3
    week 4
    week 5 
"""

'\n            jan     feb     mar\n    week 1  \n    week 2 \n    week 3\n    week 4\n    week 5 \n'

In [112]:
processed = data.copy()

processed["Month"] = processed["Date"].dt.month_name()

In [113]:
processed.head()

,Unnamed: 0,Timestamp,Category,Description,Amount,Date,Tags,Month
0,0,8/31/2022 18:29:15,Charity,Charity donation for health on pomozi.ba,10.00,2022-09-01,Charity,September
1,1,9/1/2022 12:44:12,Job Spendings,Launch on work,5.00,2022-09-01,"Me, Job, Bar",September
2,2,9/1/2022 21:06:47,Rent,Paying my monthly rent,250.00,2022-09-02,NaN,September
3,3,9/1/2022 21:08:41,Utilites,"Monthly Utilities Internet 10, Energy 20, Wash 15",45.00,2022-09-02,NaN,September
4,4,9/2/2022 14:57:54,Groceries,Buying Groceries at Bingo Otoka,67.04,2022-09-02,Bingo,September

In [114]:
processed["Week"] = pd.to_numeric(processed["Date"].dt.day / 7).apply(lambda x: math.ceil(x))

In [115]:
processed

,Unnamed: 0,Timestamp,Category,Description,Amount,Date,Tags,Month,Week
0,0,8/31/2022 18:29:15,Charity,Charity donation for health on pomozi.ba,10.00,2022-09-01,Charity,September,1
1,1,9/1/2022 12:44:12,Job Spendings,Launch on work,5.00,2022-09-01,"Me, Job, Bar",September,1
2,2,9/1/2022 21:06:47,Rent,Paying my monthly rent,250.00,2022-09-02,NaN,September,1
3,3,9/1/2022 21:08:41,Utilites,"Monthly Utilities Internet 10, Energy 20, Wash 15",45.00,2022-09-02,NaN,September,1
4,4,9/2/2022 14:57:54,Groceries,Buying Groceries at Bingo Otoka,67.04,2022-09-02,Bingo,September,1
...,...,...,...,...,...,...,...,...,...
121,121,10/15/2022 18:29:27,Groceries,Bread,2.50,2022-10-15,NaN,October,3
122,122,10/15/2022 18:30:09,Other,Transport,1.40,2022-10-15,NaN,October,3
123,123,10/15/2022 18:47:19,Other,Tranu,1.40,2022-10-15,NaN,October,3
124,124,10/16/2022 7:07:03,Outgoings,Outgoing with Tarik Ademir and Merima,15.00,2022-10-15,NaN,October,3
125,125,10/17/2022 5:50:53,Outgoings,Going out with Anes,16.50,2022-10-16,NaN,October,3

In [116]:
grouped = processed.copy()
months = pd.DataFrame()

In [119]:
MONTHS = {
    1: "January", 
    2: "February", 
    3: "March", 
    4: "April", 
    5: "May", 
    6: "June", 
    7: "July",
    8: "August", 
    9: "September", 
    10: "October", 
    11: "November", 
    12: "December"
}


for month in range(1, 13):

    aggregated_weeks = processed[processed["Month"] == MONTHS[month]].groupby("Week").sum("Amount")
    aggregated_weeks = pd.Series(aggregated_weeks["Amount"].tolist(), index = aggregated_weeks.index)
        
    months[MONTHS[month]] = aggregated_weeks

months

/var/folders/h2/n6ghdpp53hj_s5yrpj6ptw4m0000gn/T/ipykernel_1414/3841899763.py:20: FutureWarning:

The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

/var/folders/h2/n6ghdpp53hj_s5yrpj6ptw4m0000gn/T/ipykernel_1414/3841899763.py:20: FutureWarning:

The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

/var/folders/h2/n6ghdpp53hj_s5yrpj6ptw4m0000gn/T/ipykernel_1414/3841899763.py:20: FutureWarning:

The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

/var/folders/h2/n6ghdpp53hj_s5yrpj6ptw4m0000gn/T/ipykernel_1414/3841899763.py:20: FutureWarning:

The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

/var/folders/h2/n6ghdpp53hj_s5yrpj6ptw4m0000gn/T/ipykernel_1414/3841899763.py:20: FutureWarning:

The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

/var/folders/h2/n6ghdpp53hj_s5yrpj6ptw4m0000gn/T/ipykernel_1414/3841899763.py:20: FutureWarning:

The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

/var/folders/h2/n6ghdpp53hj_s5yrpj6ptw4m0000gn/T/ipykernel_1414/3841899763.py:20: FutureWarning:

The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

/var/folders/h2/n6ghdpp53hj_s5yrpj6ptw4m0000gn/T/ipykernel_1414/3841899763.py:20: FutureWarning:

The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

/var/folders/h2/n6ghdpp53hj_s5yrpj6ptw4m0000gn/T/ipykernel_1414/3841899763.py:20: FutureWarning:

The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

/var/folders/h2/n6ghdpp53hj_s5yrpj6ptw4m0000gn/T/ipykernel_1414/3841899763.py:20: FutureWarning:

The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

,January,February,March,April,May,June,July,August,September,October,November,December
Week,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.34,961.14,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.00,98.40,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.80,48.60,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.40,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.30,NaN,NaN,NaN

In [120]:
heatmap_object = {
    "z": months.values.tolist(),
    "x": months.columns.tolist(),
    "y": months.index.tolist()
}

hovertemplate = "Month: %{x},<br>Week: %{y},<br>Spending: %{z:.2f} KM<extra></extra>"
texttemplate = "%{z:.2f}"

figure = go.Figure(data = go.Heatmap(
    heatmap_object,
    colorscale = "magma",
    hovertemplate = hovertemplate,
    texttemplate = texttemplate
))
figure.show()