In [14]:
import pandas as pd
import datetime
import math

In [9]:
weekdays =  [
    "Monday", "Tuesday", "Wendestay", "Thursday", "Firday", "Saturday", "Sunday"
]

In [10]:
data = pd.read_csv("./data.csv")
data["Date"] = pd.to_datetime(data["Date"], format="%m/%d/%Y")

data

,Unnamed: 0,Timestamp,Category,Description,Amount,Date,Tags
0,0,8/31/2022 18:29:15,Charity,Charity donation for health on pomozi.ba,10.00,2022-09-01,Charity
1,1,9/1/2022 12:44:12,Job Spendings,Launch on work,5.00,2022-09-01,"Me, Job, Bar"
2,2,9/1/2022 21:06:47,Rent,Paying my monthly rent,250.00,2022-09-02,NaN
3,3,9/1/2022 21:08:41,Utilites,"Monthly Utilities Internet 10, Energy 20, Wash 15",45.00,2022-09-02,NaN
4,4,9/2/2022 14:57:54,Groceries,Buying Groceries at Bingo Otoka,67.04,2022-09-02,Bingo
...,...,...,...,...,...,...,...
121,121,10/15/2022 18:29:27,Groceries,Bread,2.50,2022-10-15,NaN
122,122,10/15/2022 18:30:09,Other,Transport,1.40,2022-10-15,NaN
123,123,10/15/2022 18:47:19,Other,Tranu,1.40,2022-10-15,NaN
124,124,10/16/2022 7:07:03,Outgoings,Outgoing with Tarik Ademir and Merima,15.00,2022-10-15,NaN
125,125,10/17/2022 5:50:53,Outgoings,Going out with Anes,16.50,2022-10-16,NaN

In [4]:
# Spendings by week in each month of the year

"""
            jan     feb     mar
    week 1  
    week 2 
    week 3
    week 4
    week 5 
"""

'\n            jan     feb     mar\n    week 1  \n    week 2 \n    week 3\n    week 4\n    week 5 \n'

In [11]:
processed = data.copy()

processed["Month"] = processed["Date"].dt.month

In [12]:
processed.head()

,Unnamed: 0,Timestamp,Category,Description,Amount,Date,Tags,Month
0,0,8/31/2022 18:29:15,Charity,Charity donation for health on pomozi.ba,10.00,2022-09-01,Charity,9
1,1,9/1/2022 12:44:12,Job Spendings,Launch on work,5.00,2022-09-01,"Me, Job, Bar",9
2,2,9/1/2022 21:06:47,Rent,Paying my monthly rent,250.00,2022-09-02,NaN,9
3,3,9/1/2022 21:08:41,Utilites,"Monthly Utilities Internet 10, Energy 20, Wash 15",45.00,2022-09-02,NaN,9
4,4,9/2/2022 14:57:54,Groceries,Buying Groceries at Bingo Otoka,67.04,2022-09-02,Bingo,9

In [15]:
processed["Week_of_Month"] = pd.to_numeric(processed["Date"].dt.day / 7).apply(lambda x: math.ceil(x))

In [16]:
processed

,Unnamed: 0,Timestamp,Category,Description,Amount,Date,Tags,Month,Week_of_Month
0,0,8/31/2022 18:29:15,Charity,Charity donation for health on pomozi.ba,10.00,2022-09-01,Charity,9,1
1,1,9/1/2022 12:44:12,Job Spendings,Launch on work,5.00,2022-09-01,"Me, Job, Bar",9,1
2,2,9/1/2022 21:06:47,Rent,Paying my monthly rent,250.00,2022-09-02,NaN,9,1
3,3,9/1/2022 21:08:41,Utilites,"Monthly Utilities Internet 10, Energy 20, Wash 15",45.00,2022-09-02,NaN,9,1
4,4,9/2/2022 14:57:54,Groceries,Buying Groceries at Bingo Otoka,67.04,2022-09-02,Bingo,9,1
...,...,...,...,...,...,...,...,...,...
121,121,10/15/2022 18:29:27,Groceries,Bread,2.50,2022-10-15,NaN,10,3
122,122,10/15/2022 18:30:09,Other,Transport,1.40,2022-10-15,NaN,10,3
123,123,10/15/2022 18:47:19,Other,Tranu,1.40,2022-10-15,NaN,10,3
124,124,10/16/2022 7:07:03,Outgoings,Outgoing with Tarik Ademir and Merima,15.00,2022-10-15,NaN,10,3
125,125,10/17/2022 5:50:53,Outgoings,Going out with Anes,16.50,2022-10-16,NaN,10,3